.homescreen_bg
{
    position: absolute;
    width: 80%;
    left: 20%;
    height: 100vh;
}

.container{
   margin-top: 20px;
   margin-left: 30px !important;
}

.underline{
    width:80%;
    height:2px;
    margin-top: 30px;
    margin-bottom: 30px;

    
    background-color:#000000;

}

.todolist{
    width:80%;
    height:1000px;
    background-color:#FFFFFF;
}